.info-box {
  border: solid 10px #222;
  width: 600px;
}

.info-box ul {
  margin: 0;
  margin-bottom: 10px;
  padding-left: 20px;
}

.info-box ul li {
  margin-bottom: 5px;
}

.info-box img {
  display: block;
  margin-bottom: 10px;
}
