.app {
	&.portrait {
		.info-box {
			height: calc(100% - 300px);
			width: 100%;
		}
	}

	&.landscape {
		.info-box {
			height: 650px;
			width: 600px;
		}
	}
}

.info-box {
	border: solid 10px #1d1b1b;

	ul {
		margin: 0;
		margin-bottom: 10px;
		padding-left: 20px;

		li {
			margin-bottom: 5px;
		}
	}

	img {
		display: block;
		margin-bottom: 10px;
		max-width: 100%;
		height: auto;
	}
}
