.page {
	position: relative;
	height: 100%;
}

.app {
	&.portrait {
		header {
			top: 60px;
		}
		.page-content {
			top: 120px;
		}
	}

	&.landscape {
		header {
			top: 0;
		}

		.page-content {
			top: 60px;
		}
	}
}

header {
	height: 60px;
}

.page-content {
	overflow-y: scroll;
	position: absolute;
	bottom: 50px;
}

header,
footer {
	align-items: center;
	display: flex;
	justify-content: left;
}

header,
footer,
.page-content {
	left: 20px;
	right: 20px;
	position: absolute;
}

footer {
	height: 50px;
	bottom: 0;
}
