.page {
	position: relative;
	height: 100%;
}

$headerHeight: 80px;

.app {
	&.portrait {
		header {
			top: $headerHeight;
		}
		.page-content {
			top: 120px;
		}
	}

	&.landscape {
		header {
			top: 0;
		}

		.page-content {
			top: $headerHeight;
		}
	}
}

.page-content {
	overflow-y: scroll;
	position: absolute;
	bottom: 50px;
}

header {
	align-items: left;
	display: flex;
	justify-content: center;
	height: $headerHeight;
	flex-direction: column;
}

header,
.page-content {
	left: 20px;
	right: 20px;
	position: absolute;
}
