$headerHeight: 80px;
$mobileArtworkToggle: 80px;

.app {
	&.landscape {
		header {
			top: 0;
		}
	}
}

header {
	align-items: flex-start;
	display: flex;
	justify-content: flex-start;
	height: $headerHeight;
	flex-direction: column;
	padding: 10px 0 0 0;
}
