.app {
	align-items: center;
	display: flex;
	justify-content: center;
	position: fixed;
	height: 100%;
	width: 100%;

	&.portrait {
		flex-direction: column;
	}

	&.landscape {
		flex-direction: row;
		gap: 20px;
	}
}

p {
	margin-top: 0;
}
