$radius: 30px;
.spot {
	border-radius: 50%;
	cursor: pointer;
	height: $radius;
	margin-left: -$radius / 2;
	margin-top: -$radius / 2;
	position: absolute;
	width: $radius;
	display: flex;
	justify-content: center;
	align-items: center;

	&:hover {
		background: rgba(0, 0, 255, 0.5);
	}

	.marker {
		border: solid 2px black;
		background: blue;
		border-radius: 50%;
		height: 10px;
		width: 10px;
	}
}

.spot.active {
	&:hover {
		background: rgba(255, 0, 0, 0.5);
	}

	.marker {
		background: red;
	}
}
