.spot {
	background-color: blue;
	border-radius: 50%;
	border: solid 2px black;
	cursor: pointer;
	height: 10px;
	margin-left: -5px;
	margin-top: -5px;
	position: absolute;
	width: 10px;

	.marker {
		border: solid 2px black;
	}
}

.spot.active {
	background-color: red;
}
